/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE    &kp Q  &td LA(W) W  &td LA(F) F  &td LA(P) P           &td LA(B) B       &kp J                 &kp L       &kp U                 &td MINUS COMMA  &kp BACKSPACE  &td COLON SEMI
&kp TAB       &kp A  &kp R        &hm LALT S   &hm LGUI T            &kp G             &kp M                 &hm RGUI N  &hm RALT E            &kp I            &kp O          &kp SINGLE_QUOTE
&kp CAPSLOCK  &kp Z  &kp X        &kp C        &kp D                 &kp V             &kp K                 &kp H       &td UNDERSCORE SLASH  &td EXCL DOT     &kp Y          &kp DOUBLE_QUOTES
                                  &kp LGUI     &mt LC(LS(LALT)) SPC  &kp LEFT_SHIFT    &mt LEFT_CONTROL RET  &to 1       &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp ESCAPE  &kp LS(LG(LC(NUMBER_4)))  &kp LA(NUMBER_8)  &kp AT          &kp DLLR      &kp PRCNT            &kp CARET             &kp LS(LESS_THAN)     &kp LS(GREATER_THAN)   &kp LC(LG(SPACE))  &kp BACKSPACE  &trans
&kp TAB     &trans                    &kp AMPERSAND     &kp HASH        &kp EXCL      &kp APOSTROPHE       &kp BACKSLASH         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE           &trans         &trans
&trans      &kp GRAVE                 &kp ASTRK         &kp EQUAL       &kp QUESTION  &kp DOUBLE_QUOTES    &kp LEFT_BRACKET      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &trans         &to 3
                                                        &td LGUI SPACE  &to 0         &kp LEFT_SHIFT       &mt LEFT_CONTROL RET  &to 2                 &kp RALT
            >;
        };

        lower_layer {
            bindings = <
&kp ESCAPE  &kp LS(LG(LC(N4)))  &kp C_PP  &kp C_PREV            &kp C_NEXT            &kp UNDERSCORE    &kp MINUS             &td LESS_THAN N7               &td GREATER_THAN N8             &kp N9                      &kp BACKSPACE  &kp COMMA
&kp TAB     &trans              &trans    &kp K_VOL_DN          &kp K_VOL_UP          &kp EQUAL         &kp PLUS              &td LEFT_BRACE NUMBER_4        &td RIGHT_BRACE N5              &td PIPE NUMBER_6           &kp ASTRK      &kp SLASH
&trans      &trans              &trans    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp AMPERSAND     &td LEFT_BRACKET N0   &td LEFT_PARENTHESIS NUMBER_1  &td RIGHT_PARENTHESIS NUMBER_2  &td RIGHT_BRACKET NUMBER_3  &kp PERIOD     &to 3
                                          &td LGUI SPACE        &to 0                 &kp LEFT_SHIFT    &mt LEFT_CONTROL RET  &to 2                          &kp SPACE
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans                  &trans             &trans            &kp LG(LBKT)          &kp LC(LS(TAB))  &kp RC(TAB)   &kp LG(RBKT)  &trans  &trans
&trans  &trans  &trans  &td LEFT_ALT LG(MINUS)  &td LGUI LG(PLUS)  &trans            &kp LEFT_ARROW        &kp DOWN         &kp UP_ARROW  &kp RIGHT     &trans  &trans
&trans  &trans  &trans  &trans                  &trans             &trans            &kp GLOBE             &trans           &trans        &trans        &trans  &trans
                        &td LEFT_COMMAND SPACE  &to 0              &kp LEFT_SHIFT    &mt LEFT_CONTROL RET  &to 2            &kp LEFT_ALT
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
