/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P  &kp B        &kp J    &kp L  &kp U      &kp COMMA  &kp BACKSPACE  &kp MINUS
&kp LCTRL  &kp A  &kp R  &kp S     &kp T  &kp G        &kp M    &kp N  &kp E      &kp I      &kp O          &kp O
&kp LSHFT  &kp Z  &kp X  &kp C     &kp D  &kp V        &kp K    &kp H  &kp SLASH  &kp DOT    &kp Y          &kp ESC
                         &kp LGUI  &to 0  &kp SPACE    &kp RET  &to 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans          &kp ESCAPE  &kp AT_SIGN  &kp HASH  &kp DLLR  &kp PRCNT         &kp CARET         &kp LESS_THAN         &kp GREATER_THAN       &kp SEMICOLON      &kp BACKSPACE  &trans
&trans          &kp TAB     &kp EQUAL    &trans    &trans    &kp APOSTROPHE    &kp BACKSLASH     &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE           &trans         &trans
&kp LEFT_SHIFT  &trans      &trans       &trans    &trans    &trans            &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &trans         &trans
                                         &kp LGUI  &to 0     &kp SPACE         &kp RET           &to 2                 &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &trans  &kp C_PLAY_PAUSE  &kp C_PREV            &kp C_NEXT            &trans       &kp MINUS     &kp N7        &kp N8        &kp N9        &kp BACKSPACE  &trans
&trans     &trans  &trans            &kp K_VOL_DN          &kp K_VOL_UP          &kp PLUS     &kp EQUAL     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans         &trans
&kp LSHFT  &trans  &trans            &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans       &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans         &trans
                                     &kp LGUI              &to 0                 &kp SPACE    &kp RET       &to 2         &kp RALT
            >;
        };
    };
};
