/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        letters_layer {
            bindings = <
&kp ESCAPE   &kp Q &td LA(W) W &td LA(F) F &td LA(P) P &td LA(B) B &kp J &kp L      &kp U                &td MINUS COMMA &kp BACKSPACE &td COLON SEMI
&kp TAB      &kp A &kp R       &hm LALT S  &hm LGUI T  &kp G       &kp M &hm RGUI N &hm RALT E           &kp I           &kp O         &td QUESTION SQT
&kp CAPSLOCK &kp Z &kp X       &kp C       &kp D       &kp V       &kp K &kp H      &td UNDERSCORE SLASH &td EXCL DOT    &kp Y         &kp DOUBLE_QUOTES
                                  &mt LC(LS(LALT)) SPC &kp SPACE &kp LEFT_SHIFT &mt LEFT_CONTROL RET &to 1 &to 2
            >;
        };

        num_and_sym_layer {
            bindings = <
&kp ESCAPE &trans &kp PERCENT   &kp AT    &kp DLLR &kp UNDERSCORE      &td LESS_THAN N7              &td GREATER_THAN N8            &td MINUS N9               &td MINUS COMMA    &kp BACKSPACE     &td COLON SEMICOLON
&kp TAB    &trans &kp AMPERSAND &kp HASH  &kp EXCL &kp EQUAL           &td LEFT_BRACE NUMBER_4       &td RIGHT_BRACE N5             &td PIPE NUMBER_6          &td PLUS BACKSLASH &kp ASTRK         &td QUESTION SQT
&kp CAPS   &trans &kp TILDE     &kp GRAVE &trans   &td LEFT_BRACKET N0 &td LEFT_PARENTHESIS NUMBER_1 &td RIGHT_PARENTHESIS NUMBER_2 &td RIGHT_BRACKET NUMBER_3 &td EXCL DOT &trans &kp DOUBLE_QUOTES
                                   &to 0 &kp SPACE &kp LEFT_SHIFT &mt LEFT_CONTROL RET &to 1 &to 2
            >;
        };

        control_layer {
            bindings = <
&trans &kp LS(LC(LG(NUMBER_4))) &kp C_PLAY_PAUSE &kp C_PREV        &kp C_NEXT      &trans &kp LG(LBKT)   &kp LC(LS(TAB))   &kp RC(TAB)  &kp LG(RBKT) &trans &trans
&trans &kp LA(LG(MINUS))        &kp LA(LG(PLUS)) &kp K_VOLUME_DOWN &kp K_VOLUME_UP &trans &kp LEFT_ARROW &kp DOWN          &kp UP_ARROW &kp RIGHT    &trans &trans
&trans &trans                   &trans           &kp C_BRI_DN      &kp C_BRI_UP    &trans &kp GLOBE      &kp LC(LG(SPACE)) &trans       &trans       &trans &trans
                                                    &to 0 &kp SPACE &kp LEFT_SHIFT &mt LEFT_CONTROL RET &to 1 &to 2
            >;
        };
    };
};
